@font-face {
  font-family: 'cleanco';
  src: url("");
  src: url("cleanco.eot") format('embedded-opentype'),
       url("cleanco.woff") format('woff'),
       url("cleanco.ttf") format('truetype'),
       url("cleanco.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

 
.icon-comment-empty:before { font-family: 'cleanco'; content: '\e800'; } /* '' */
.icon-heart-empty:before { font-family: 'cleanco'; content: '\e801'; } /* '' */
.icon-angle-left:before { font-family: 'cleanco'; content: '\e802'; } /* '' */
.icon-angle-right:before { font-family: 'cleanco'; content: '\e803'; } /* '' */
.icon-link:before { font-family: 'cleanco'; content: '\e804'; } /* '' */
.icon-search:before { font-family: 'cleanco'; content: '\e805'; } /* '' */
.icon-cancel:before { font-family: 'cleanco'; content: '\e806'; } /* '' */
.icon-menu:before { font-family: 'cleanco'; content: '\e807'; } /* '' */
.icon-user-1:before { font-family: 'cleanco'; content: '\e80c'; } /* '' */